/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/docker
/docker/logs/
/docker/nginx/ssl/
/docker/pdf-scrappers/src/tmp/
/docker/pdf-scrappers/src/pdf_config.php
/docker/scrappers/src/config.php
/public/pdfs/
/public/media/
/.env.testing
/docker/scrappers/config.php
/docker/scrappers/src/run-logs/
/public/assets/js/config.js
/resources/js/config.js
/qodana.yaml
